// SECTION: variables
$color-bg: #ffffff;
$color-product-bg: #f7f7f7;
$text-gray: #7c7d77;
$text-header: #464646;
$text-black: #181816;

$color-shade1: #E9E9E9;
$color-shade-1a: #D0D0D0;
$color-shade2: #B7B7B7;
$color-shade-2a: #9F9F9F;
$color-shade3: #878787;
$color-shade-3a: #6e6e6e;
$color-shade4: #555555;
$color-shade-4a: #3d3d3d;
$color-shade-4b: #232323;
$color-shade5: #181818;

// SECTION: typography

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: $text-header;
    font-size: 1rem;
}

p {
    font-size: 1.25rem;
    font-family: "Noto Sans", sans-serif;
    color: $text-gray;
}

em {
    font-style: normal;
    color: $text-black;
}

// SECTION: document macro
html { 
}

.pc-only {
    display: none;
}   

.mobile-only {
    display: block;
}

@media (min-width: 48em) {
    .pc-only {
        display: block;
    }   

    .mobile-only {
        display: none;
    }
}

// SECTION: header structure

// SECTION: body structure

.main-section {
    height: 100vh;
    background-color: grey;
}

.scroll-section {
    width: 90%;
    margin: 0 auto;
    padding-top: 8rem;
    height: 100vh;
    position: sticky;
    top: 0;
}


@media (min-width: 48em) {
    main {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 1.5rem;
        padding: 0 6rem 0 6rem;
        margin: 0;
    }

    .scroll-section {
        width: 100%;
        margin: 0 auto;
        padding-top: 6rem;
    }
}

// SECTION: features

.features {
    height: 223vh; // imprecise

    h3 {
        margin: 0 0 0.5rem 0;
    }
    p {
        margin: 0 0 1.5rem 0;
    }
}

.feature-bg {
    height: 50%;
    width: 100%;
    background-color: $color-product-bg;
    border-radius: 1rem;
    
    display: flex;
    place-items: center;
    justify-content: center;
}

@media (min-width: 48em) {
    .features p {
        width: 50%;
    }
}

// SECTION: feature 1

.feature-bar {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

#feature-1 {
    .feature-bar {
        .inbox-item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: left;
            padding: 0.25rem;

            .inbox-text {
                margin-left: 1rem;
                display: flex;
                p {
                    margin: 0 0.25rem .5rem 0;
                    font-size: 0.8rem;
                }
            }

            .inbox-label {
                width: fit-content;
                font-size: 1rem;
            }

            .inbox-number {
                width: fit-content;
                font-size: 0.8rem;
            }
            
        }
    }
}

.underline {
    height: 1.25rem;
    width: 0.15rem;
    margin-right: 1rem;
    background-color: #181816;
}

@media (min-width: 48em) {
    #feature-1 {

        .feature-bar {
            flex-direction: row;
            flex-wrap: wrap;
            width: fit-content;
            width: 100%;
            .inbox-item {
                flex-direction: column;
            }
        }

        .inbox-item {
            .underline {
                height: 0.15rem;
                width: 5rem;
                margin-right: 0;
                bottom: 35rem;
            }
        }
    }
}

// SECTION: feature 2

#feature-2 {
    .feature-bar {
        display: flex;
        width: 66%;
    }
}

.speed-line {
    height: 0.5rem;
    width: 100%;
    margin: 0.3rem 0;
    background-color: #181816;
}

@media (min-width: 48em) {
    #feature-2 {
        .feature-bar {
            flex-direction: row;
            flex-wrap: nowrap;
            place-items: center;
            height: 100%;
        }

        .speed-line {
            display: block;
            margin: 0 0.3rem;
            width: 0.5rem;
            height: 40%;
        }
    } 
}

// SECTION: feature 3

#feature-3 {
    .feature-bg {
        overflow: hidden;
    }

    .feature-bar {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .shortcuts-bar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
    }

    .shortcuts-item {
        margin: 0 0.75rem;
    }

    .shortcuts-text {
        margin-bottom: 0.25rem;
        font-size: 1rem;
        width: fit-content;

        text-wrap: nowrap;
    }

    .underline {
        height: 0.15rem;
        width: 100%;
        margin: 0 0 1rem 0;
    }

    .keyboard {
        position: relative;
        left: -8rem;

        background-color: $color-shade1;
        width: 38.5rem;
        height: 16rem;
        border-radius: 1rem;

        padding: 0.25rem;
        margin: 0 auto;
        
        display: flex;
        flex-direction: column;
        place-items: center;

        .row {
            height: 2.65rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
        }

        .key {
            background-color: $color-shade-1a;
            margin: 0.2rem;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 0.5rem;
        }

        .key-top-left {
            border-radius: 1rem 0.5rem 0.5rem 0.5rem;
            width: 3.5rem;
        }

        .key-top-right {
            border-radius: 0.5rem 1rem 0.5rem 0.5rem;
        }

        .key-bottom-right {
            border-radius: 0.5rem 0.5rem 1rem 0.5rem;
        }

        .key-bottom-left {
            border-radius: 0.5rem 0.5rem 0.5rem 1rem;
        }

        .key-rect-1 {
            width: 3.5rem;
        }

        .key-rect-2 {
            width: 4.2rem;
        }

        .key-rect-3 {
            width: 5.5rem;
        }

        .key-rect-4 {
            width: 3rem;
        }

        .key-space {
            width: 12.5rem;
        }

        .key-half {
            height: 1rem;
        }
    }
}

@media (min-width: 48em) {
    #feature-3 {
        .shortcuts-bar {
            justify-content: center;
        }
    }

    .keyboard {
        position: static !important;
        left: 0;
    }
}
// SECTION: feature 4

#feature-4 {
    .feature-bg {
        flex-direction: column;
    }

    .editor-display {
        padding: 1rem 1rem 0 1rem;
        margin: 1.5rem;

        
        #try-tatem {
            color: #ff6e40;
            color: #fff;
            padding: 0.5rem;
            margin: 0;
            font-size: 1rem;
            width: 100%;
            text-wrap: nowrap;
        }

        display: flex;
        place-items: center;

        .dot {
            display: none;
            height: 0.25rem;
            width: 0.25rem;
            border-radius: 50%;
            background-color: #181816;
        }
    }

    .editor-options {
        display: flex;
        flex-direction: column;

        p {
            font-size: 0.9rem;

            width: 7rem;

            padding: 0.5rem;
            margin: 0.25rem;
            border-radius: 0.25rem;
        }
    }
}

@media (min-width: 48em) {
    #feature-4 .editor-options {
        width: 34rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
    }
}

// SECTION: feature 5

#feature-5 {
    .feature-bg {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .feature-bar {
        width: 80%;
        justify-content: space-between;
    }

    .design-text {
        display: flex;
        justify-content: space-between;
        
        p {
            margin: 0 1rem;
            place-self: center;
            text-align: center;
            width: 6rem;
            font-size: 1rem;
        }
    }

    .design-circles {
        display: flex;
        gap: 1rem;
    }

    .design-circle {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #181816;
    }

    #circle1 {background-color: $color-shade1;}
    #circle2 {background-color: $color-shade2;}
    #circle3 {background-color: $color-shade3;}
    #circle4 {background-color: $color-shade4;}
    #circle5 {background-color: $color-shade5;}

    #circle-1a {background-color: $color-shade-1a;}
    #circle-2a {background-color: $color-shade-2a;}
    #circle-3a {background-color: $color-shade-3a;}
    #circle-4a {background-color: $color-shade-4a;}
    #circle-4b {background-color: $color-shade-4b;}
}

@media (min-width:48em) {
    #feature-5 {
        .feature-bar {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0
        }
    }
}

// SECTION: feature 6

$search-width: 80%;
$search-height: 70%;

#feature-6 {
    .feature-bg {
        display: flex;
    }

    .feature-bar {
        position: relative;
        overflow: hidden;

        background-color: #181816;
        border-radius: 5rem;
        width: $search-width;
        height: $search-height;

        p {
            margin: 0 auto;
            font-size: 1rem;
            text-align: center;
            color: $color-bg;
        }
    }

    .search-rect {
        border-radius: 0.5rem;
        position: absolute;
    }

    #rect1 {
        bottom: -4rem;
        right: -3rem;
        background-color: #ababab;
        width: 12rem;
        height: 12rem;
        z-index: 5;
    }
    #rect2 {
        top: 3rem;
        left: 2.5rem;
        background-color: #d8d8d8;
        width: 6rem;
        height: 12rem;
        z-index: 4;
    }
    #rect3 {
        top: -3.5rem;
        left: -4rem;
        background-color: #c3c3c3;
        width: 10rem;
        height: 10rem;
        z-index: 3;
    }
    #rect4 {
        top: -3rem;
        left: -2rem;
        background-color: #4b4b4b;
        width: 13rem;
        height: 12rem;
        z-index: 2;
    }
    #rect5 {
        bottom: -4.5rem;
        left: -0.5rem;
        background-color: #7b7b7b;
        width: 13rem;
        height: 14rem;
        z-index: 1;
    }
}

@media (min-width: 48em) {
    #feature-6 {
        .feature-bar {
            width: 37.5rem;
            height: 15rem;
            border-radius: 10rem;
        }

        #rect2 {
            left: 11rem;
            width: 12.5rem;
            height: 14rem;
        }

        #rect3 {
            width: 13rem;
            height: 13rem;
            top: -10.5rem;
            left: -9rem;
        }

        #rect4 {
            left: 20.5rem;
        }
    }
}

// SECTION: feature 7

#feature-7 {

    .feature-bar {
        margin-top: 3rem;
        width: 80%;
        flex-direction: column;
        gap: 0.5rem;
    }

    .ux-checkbox-on {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 20%;
        background-color: #181816;
    }

    .ux-checkbox-off {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 20%;
        background-color: $color-product-bg;
        border: 0.1rem solid $color-shade-2a;
    }

    .ux-item {
        display: flex;
        flex-wrap: nowrap;
        place-items: center;
        gap: 1rem;
    }

    .ux-text {
        margin: 0;
        padding: 0.5rem;
        border-radius: 0.5rem;

        height: 1rem;
        width: 2rem;
        font-size: 0.8rem;

        flex: 1 0 10rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #181816;
        background-color: $color-shade1;
    }

    .ux-selection {
        margin: 2rem 0;
        padding: 0.5rem;
        align-self: center;
        border: 0.1rem solid $color-shade1;
        width: 90%;
        border-radius: 0.5rem;

        display: flex;
        place-items: center;
        justify-content: space-between;

        p {
            margin: 0 0.5rem;
            font-size: 0.9rem;
            color: #181816;
        }
    }

    .ux-icon {
        margin: 0.2rem;
        border: 0.1rem solid $color-shade1;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 20%;
        background-color: $color-bg;
    }
}

@media (min-width: 48em) {
    #feature-7 {
        .feature-bar {
            width: 26.25rem;
        }
    }
}


// SECTION: feature 8

#feature-8 {
    .security-grid {
        display: grid;
        grid-template-columns: repeat(4, 2rem);
        grid-template-rows: repeat(4, 2rem);
        place-items: center;
        align-self: center;
    } 

    .security-cell {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 20%;
        background-color: $color-bg;
    }

    #cell0 {background-color: $color-bg;}
    #cell1 {background-color: $color-shade1;}
    #cell2 {background-color: $color-shade2;}
    #cell3 {background-color: $color-shade3;}
    #cell4 {background-color: $color-shade4;}
    #cell5 {background-color: $color-shade5;}
}

@media (min-width:48em) {
    #feature-8 {
        .feature-bar {
            width: 34rem;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

@media (max-width: 48em) {
    .pc-only {
        display: none !important;
    }   
}

.box {
    display: none;
    width: 10rem;
    height: 10rem;
    background-color: red;
    position: fixed;
    top: 50%;
    left: 0%;
}

.box2 {
    display: none;
    width: 8rem;
    height: 8rem;
    background-color: rgb(0, 255, 47);
    position: fixed;
    top: 50%;
    left: 0%;
}