// variables
$color-bg: #ffffff;
$color-product-bg: #f7f7f7;
$text-gray: #7c7d77;
$text-header: #464646;
$text-black: #181816;

// typography

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: $text-header;
}

p {
    font-size: 1.25rem;
    font-family: "Noto Sans", sans-serif;
    color: $text-gray;
}

em {
    font-style: normal;
    color: $text-black;
}

// document
html {
    
}

// header structure

// body structure
main {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 0 6rem 0 6rem;
}

.main-section {
    height: 100vh;
    background-color: grey;
}

.scroll-section {
    padding-top: 6rem;
    height: 100vh;
    // background-color: lightblue;
    position: sticky;
    top: 0;
}

.features {
    height: 200vh;

    h3 {
        margin: 0 0 0.5rem 0;
    }
    p {
        margin: 0 0 1.5rem 0;
        width: 50%;
    }
}

.feature-bg {
    height: 60%;
    width: 100%;
    margin: auto;
    vertical-align: auto;
    background-color: $color-product-bg;
    border-radius: 1rem;
}

.box {
    width: 10rem;
    height: 10rem;
    background-color: red;
    position: fixed;
    top: 50%;
    left: 0%;
}

.box2 {
    width: 8rem;
    height: 8rem;
    background-color: rgb(0, 255, 47);
    position: fixed;
    top: 50%;
    left: 0%;
}