// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'MyFont1', sans-serif;
}

// Hero Section
.hero-section {
  height: 100vh;
  background-image: url('/monet.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(103, 103, 103, 0.1);
    backdrop-filter: blur(120px);
    z-index: 1;
  }

  .hero-modal {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    clip-path: path('M0,0 H400 V600 H0 Z M165,23 H235 A7,5 0 0,0 235,15 H165 A7,5 0 0,0 165,23 Z');
  }

  .text-content {
    text-align: left;
    margin: 30px;
  }

  .text-low-opacity {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
  }

  .text-high-opacity {
    color: rgba(255, 255, 255, 0.95);
    font-size: 13px;
  }

  .main-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .sub-heading {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    caret-color: #ffffff;

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }

    &:focus {
      border-color: #c7bebe;
      outline: none;
    }
  }

  .error-message {
    color: rgb(233, 60, 48);
    font-size: 12px;
    display: none;
  }

  .submit-button {
    padding: 10px 20px;
    width: 100%;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;

    &:hover {
      background-color: #e9e9e9;
    }
  }
}

// Header Section
.header {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
  background-color: transparent;
  color: white;
  transition: background-color 0.2s ease;
}

.top-banner {
  width: 100%;
  max-height: 60px;
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.banner-text {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.65);
}

.link {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}

.close-button {
  height: 16px;
  width: 16px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon,
.logo-text {
  height: 16px;
  filter: invert(1);
}

.nav-links {
  display: none;
  gap: 20px;
}

.nav-link {
  color: rgba(255, 255, 255, 0.65);
}

.mobile-menu-button {
  display: block;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out;

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(103, 103, 103, 0.2);
    backdrop-filter: blur(100px);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }

  .menu-item {
    display: flex;
    padding: 15px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
  }

  &.open {
    display: block;
    max-height: 300px;
    opacity: 1;

    .overlay {
      opacity: 1;
    }
  }
}

button[aria-label="mobile menu button"] {
  display: block;
  position: relative;
  width: 30px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  .line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease-in-out;
  }
}

// Desktop Styles
@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }

  .mobile-menu-button {
    display: none;
  }

  .hero-modal {
    width: 400px;
    height: 580px;
  }

  .main-heading {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .sub-heading {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
